---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post post-type-text">
    <header class="post-header">
      <h1 class="post-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h1><!-- /.post-title -->
      <ul class="post-meta">
        <li class="post-meta-time">
          <a href="/post/">Posted on {{ post.date | date_to_string }}</a>
        </li><!-- /.post-meta-time -->
      </ul>
    </header><!-- /.post-header -->
    <div class="post-body wysiwyg">
      {{ post.content }}
    </div><!-- /.post-body -->
  </article><!-- /.post -->
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

