---
layout: default
title: Home
cover: false
about: 'about.html'
logo: '/assets/images/profile.jpg'
---

<header class="site-head" {% if page.cover %} style="background-image: url({{ page.cover }})"{% endif %}>
    <div class="vertical">
        <div class="site-head-content" class="inner">
            <h1 class="blog-title">{{ site.name }}</h1>
            <h2 class="blog-description">
                This is where I write about building cool products and businesses. <div class="description-break"></div>
                You can also <a href='https://twitter.com/lokimeyburg' target="_blank">follow me on Twitter</a>.
            </h2>
        </div>
    </div>
</header>


<main class="content" role="main">
  <article class="homepage-blurb">
    <h4 class="seperator-heading" style="margin-bottom: 30px;"><span>Work</span></h4>
    I create product concepts, lead product teams and try to work out what's happening next. I was also the lead educator at <a href="https://brainstation.io/" target="_blank">BrainStation</a> where I taught the Product Management course. Here's a list of my most recent work:

    <div class="portfolio-row">
      <div class="portfolio-image">
        <a href='http://mobify.com' target="_blank"><img src="/assets/images/mobify.png" /></a>
      </div>

      <div class="portfolio-content">
         My latest project at <a href='http://www.mobify.com/' target="_blank">Mobify</a> is called <a href="https://www.mobify.com/platform/progressive-web-apps/" target="_blank">Progressive Mobile</a>. It's how Google and Mobify think websites and apps should be built. <a href="http://mobilemarketingwatch.com/retailers-claim-to-rejoice-over-mobifys-mobile-mojo-69668/">We’ve been working with Google on this for a while now.</a>
       </div>
    </div>

    <div class="portfolio-row">
      <div class="portfolio-image">
        <a href='http://astro.mobify.com' target="_blank"><img src="/assets/images/astro.png" /></a>
      </div>

      <div class="portfolio-content">
        <strong><a href='http://astro.mobify.com/' target="_blank">Astro</a></strong> was my first project at <a href='http://astro.mobify.com/' target="_blank">Mobify</a>. Forrester scored it as one of the <a href="https://www.forrester.com/report/The+Forrester+Wave+Mobile+Commerce+And+Engagement+Platforms+Q1+2016/-/E-RES116878">most strategic eCommerce app frameworks</a> within its first year of being released. <a href="http://pgday.phonegap.com/us2016/speaker/lokimeyburg/">I've also given numerous technical presentations on Astro</a>.
      </div>
    </div>

    <div class="portfolio-row">
      <div class="portfolio-image">
        <a href='http://www.medeohealth.com' target="_blank"><img src="/assets/images/medeo.png" /></a>
      </div>

      <div class="portfolio-content">
        <strong><a href='http://www.medeohealth.com' target="_blank">Medeo</a></strong>, short for "medical video", lets people in healthcare see their patients online. I was the first employee and helped see the company through its <a href='https://ca.finance.yahoo.com/news/qhr-acquire-medeo-corporation-virtual-230800502.html' target="_blank">acquisition in 2014</a>. Also, <a href='http://blog.medeo.ca/dont-just-take-our-word-for-it/' target="_blank">people love using Medeo.</a>
      </div>
    </div>

    <div class="portfolio-row">
      <div class="portfolio-image">
        <a href='http://www.lokimeyburg.com/Stacker/' target="_blank"><img src="/assets/images/stacker.png" /></a>
      </div>

      <div class="portfolio-content">
        <strong><a href='http://www.lokimeyburg.com/Stacker/' target="_blank">Stacker</a></strong> helps kickstart the development of hybrid native/web iPhone apps. I released Stacker as my first big open source project.
      </div>
    </div>

    <p>
      For a complete list of my work, you can view my <a href="http://www.lokimeyburg.com/loki-meyburg-resume-march-2017.pdf" target="_blank">one-page resume.</a>
    </p>
  </article>
</main>


<main class="content" role="main">
    <article class="homepage-blurb">

      <h4 class="seperator-heading"><span>Articles</span></h4>
    </article>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date_to_string }}</time></span>
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>

        </header>
        <section class="post-excerpt">
            {{ post.excerpt }}
            <p><a href="{{ post.url }}">Continue...</a></p>
        </section>
    </article>

    {% endfor %}

    <nav class="pagination" role="pagination">

        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a class="newer-posts" href="/" title="Previous Page">&laquo; Newer Posts</a>
          {% else %}
          <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Newer Posts</a>
          {% endif %}
        {% endif %}

        <span class="page-number"> Page {{paginator.page}} of {{paginator.total_pages}} </span>

        {% if paginator.next_page %}
        <a class="older-posts" href="/page{{ paginator.next_page }}/" title="Next Page">Older Posts &raquo;</a>
        {% endif %}
    </nav>


</main>
